<!DOCTYPE html>
<html lang="en">
	{% load static %}
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Speech analyzer</title>
		<link rel="stylesheet" href="{% static "assets/main-BSMKLSXR.css" %}" />
		<script type="module" src="{% static "assets/main-DTtFdmep.js" %}"></script>
		<!-- optional -->
		<link rel="stylesheet" href="{% static "assets/primeicons-WjwUDZjB.woff" %}" />
		<link rel="stylesheet" href="{% static "assets/primeicons-MpK4pl85.ttf" %}"/>
		<link rel="stylesheet" href="{% static "assets/Inter-roman.var-C-r5W2Hj.woff2" %}"/>
		<link rel="stylesheet" href="{% static "assets/Inter-italic.var-DhD-tpjY.woff2" %}"/>
		<link rel="stylesheet" href="{% static "assets/primeicons-DMOk5skT.eot
		" %}"/>
		<link rel="stylesheet" href="{% static "assets/primeicons-C6QP2o4f.woff2
		" %}"/>

	</head>
	<body>
		<div id="app"></div>
	</body>
</html>
