<header>
	<div class="header">
		<div>
			<li>
				<a class="text-secondary fs-5 link-offset-2 link-underline link-underline-opacity-0" href={% url 'home' %}>Главная</a>
			</li>
		</div>
		<div class=''>
			<nav>
				<ol>
					<li>
						<a class="text-secondary fs-5 link-offset-2 link-underline link-underline-opacity-0" href={% url 'new_test' %}>Новое тестирование</a>
					</li>
					<li>
						<a class="text-secondary fs-5 link-offset-2 link-underline link-underline-opacity-0" href={% url 'history_test' %}>Последние тестирования</a>
					</li>
					<li>
						<a class="text-secondary fs-5 link-offset-2 link-underline link-underline-opacity-0" href={% url 'test' %}>Тесты</a>
					</li>
				</ol>
			</nav>
		</div>
	</div>
</header>
