main {
	display: grid;
	grid-template-rows: 1fr auto;
	gap: 100px;
}

header {
	display: flex;
	background-color: #d9d9d9;
	height: 60px;
	> .header {
		display: flex;
		width: 100%;
		padding-inline: 15rem;
		justify-content: space-between;
		align-items: center;
		font-size: 1rem;
		color: #000000;
	}
}

.choose_file_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
	> h1 {
		margin: 0;
		font-size: 2rem;
		font-weight: bold;
		opacity: 0.8;
	}
}
