body {
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	background-color: #d9d9d9;
	height: 60px;
	> .header {
		display: flex;
		width: 100%;
		padding-inline: 15rem;
		justify-content: space-between;
		align-items: center;
		font-size: 1rem;
		color: #000000;
	}
}

main {
	height: calc(100vh - 60px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.login_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 15%;
	height: 35%;
	border-radius: 10px;
	background-color: #e4e4e4;
	gap: 25px;
	> h1 {
		margin: 0;
		font-size: 2rem;
		font-weight: bold;
		opacity: 0.8;
	}

	> form {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}

input {
	background-color: var(--bs-gray-800);
	color: var(--bs-white);
	border: none;
	padding: 10px;
	outline: none;
	border-radius: 15px;
	> :focus {
		box-shadow: 0 0 0 0.25rem var(--bs-gray-700);
	}
}

button {
	background-color: var(--bs-gray-800);
	color: var(--bs-white);
	border: none;
	padding: 10px;
	outline: none;
	border-radius: 15px;
	&:hover {
		cursor: pointer;
		transition: all 0.2s ease-in-out;
		background-color: var(--bs-gray-900);
	}
}
