body,
html {
	margin: 0;
	padding: 0;
	font-family: var(--bs-font-sans-serif);
	height: 100%;
	background-color: var(--bs-gray-700);
	color: var(--bs-white);
}

main {
	height: calc(100vh - 56px);
}

.welcome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	gap: 25px;
	> p {
		margin: 0;
		font-size: 1.5rem;
		font-weight: bold;
		opacity: 0.8;
	}
}

ol {
	margin: 0;
	padding: 0;
	display: flex;
	gap: 20px;
	> li {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		> p {
			margin: 0;
			font-size: 1.5rem;
			font-weight: bold;
			opacity: 0.8;
		}
	}
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--bs-white);
	&:hover {
		text-decoration: underline;
		color: var(--bs-primary);
		transition: all 0.3s ease;
	}
}
