<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
		/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
		/>
		<link rel="stylesheet" type="text/css" href="{% static "login.css" %}" />
		{% load django_bootstrap5 %}
		{% include 'base.html' %}
		<title>{{ title }}</title>
	</head>
	<body>
		{% include 'header.html' %}
		<main>
			<div class="container-sm text-center w-25">
				<h1 class='fw-normal text-black display-5'>Вход</h1>
				<div class="container-sm w-75 text-center">
					<form method="POST" class="form">
						{% csrf_token %}
						<input type="text" class="form-control mt-3" title="Логин" id="username" name="username" placeholder="Логин..." />
						<input type="password" class="form-control mt-3" title="Пароль" id="password" name="password" placeholder="Пароль..." />
						<button class="btn btn-secondary w-100 mt-3" type="submit">Войти</button>
					</form>
				</div>
				<span class='mt-2'><a class="text-secondary fw-light link-offset-2 link-underline link-underline-opacity-0" href={% url 'register' %}>Зарегистрироваться</a></span>
			<div>
		</main>
	</body>
</html>
