{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% include "base.html" %}
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
		/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="{% static 'css/savvahome.css' %}" />
		<script src="{% static 'js/onclick.js' %}"></script>
		<title>{{ title }}</title>
	</head>
	<body>
		<h1>С днём рождения, брат!</h1>
		<br />
		<div class="container-md m-0 w-50 border-0">
			<div class="ratio ratio-16x9">
				<iframe
					title="С днём рождения!"
					src="https://www.youtube.com/embed/WedahPSXJjE?vq=hd1080"
					allowfullscreen
				></iframe>
			</div>
		</div>
		<br />
		<br />
		<form method="post" class="d-grid gap-2 w-50">
			{% csrf_token %}
			<input
				type="text"
				title="Введи твоё имя"
				name="name"
				class="form-control"
				placeholder="Введи твоё имя, чтобы Савва узнал кто ты!"
			/>
			<textarea
				type="text"
				title="Напиши пожалание"
				name="text"
				class="form-control"
				placeholder="Напиши пожелание"
				rows="2"
			></textarea>
			<button class="btn btn-secondary" type="submit" name="submit_form">
				Поздравить!
			</button>
		</form>
	</body>
</html>
